<!––Abandoned FD/SP and Children GUI page ––>
<link rel="icon" href="data:;base64,="> <!––necessary to avoid warnings in log ––>

<style>
body {background-color: #F9E79F;}  <!––color: gold ––>
</style>


<h1>Abandon FDs (and/or SPs ) and Children</h1>

<cr></cr>
<form action="/itssupp/infoAbandon/" method ="get">
  Environment:<br>
  <input type="radio" name="server" value="Prod"> Production(jgi-prd)<br>
  <input type="radio" name="server" value="Int"> Integration (jgi-int)<br>
  <input type="radio" name="server" value="Dev"> Development (jgi-dev)<br>
  <br><br>

  ITSSUPP ticket number:
  <input type="text" name="ticketnum", size="4">
  <br><br>
  Choose Function:
  <br>
  <input type="radio" name="function" value="FDchildren"> 1. Abandon FD  (FD,AP,AT,SP,Samples and SOWs)<br>
  <input type="radio" name="function" value="SPchildren"> 2. Abandon SP  (SP,Samples and SOWs)<br>
  <input type="radio" name="function" value="APSPchildren"> 3. Abandon SP and related AP <br>
  <input type="radio" name="function" value="FDchildrenTest">4. Test: Abandon FD (no database updates)<br>
  <input type="radio" name="function" value="SPchildrenTest">5. Test: Abandon SP  (no database updates)<br>
   <input type="radio" name="function" value="APSPchildrenTest">6. Test: Abandon SP and related AP (no database updates)<br>
  <br><br>
  What are the FDs (or SPs)? (separate by comma):
  <br>
  <input type="text" name="SpsOrFds" size="80">
  <br><br>
  What are the APs (related to the SPs)? required for Function 3 and 6 (separate by comma):
  <br>
  <input type="text" name="Aps" size="80">
  <br><br>

  <input type="submit" value="Submit">
  <input type="reset">
</form>



