<!––Delete SP and Children GUI page ––>
<link rel="icon" href="data:;base64,="> <!––necessary to avoid warnings in log ––>

<style>
body {background-color: #F9E79F;}  <!––color: gold ––>
</style>


<h1>Delete SPs and Children</h1>

<cr></cr>
<form action="/itssupp/infoDelete/" method ="get">
  Environment:<br>
  <input type="radio" name="server" value="Prod"> ***USE WITH CAUTION*** Production(jgi-prd)<br>
  <input type="radio" name="server" value="Int"> Integration (jgi-int)<br>
  <input type="radio" name="server" value="Dev"> Development (jgi-dev)<br>
  <br><br>

  ITSSUPP ticket number:
  <input type="text" name="ticketnum", size="4">
  <br><br>
  Choose Function:
  <br>
  <input type="radio" name="function" value="SPchildren"> 2. Delete SP  (SP,Samples and SOWs)<br>
  <input type="radio" name="function" value="SPchildrenTest">4. Test: Delete SP  (no database updates)<br>

  <br><br>
  What are the SPs? (separate by comma):
  <br>
  <input type="text" name="SpsOrFds" size="80">
  <br><br>


  <input type="submit" value="Submit">
  <input type="reset">
</form>



