<!––Change Acct Info GUI page ––>
<link rel="icon" href="data:;base64,="> <!––necessary to avoid warnings in log ––>

<style>
body {background-color: #EBDEF0;}  <!––color: pink ––>
</style>

<h1>Change Acount Info on FD, SP and Sow</h1>
<h1>This will change all FDs, SPs,Sow to the acct number determined by user input.</h1>

<cr></cr>
<form action="/itssupp/infoChangeAccount/" method ="get">
  Environment:<br>
  <input type="radio" name="server1" value="Prod"> Production(jgi-prd)<br>
  <input type="radio" name="server1" value="Int"> Integration (jgi-int)<br>
  <input type="radio" name="server1" value="Dev"> Development (jgi-dev)<br>
  <br><br>

  Choose Function:
  <br>
  <input type="radio" name="function" value="changeAccount"> Update Account Info<br>
  <input type="radio" name="function" value="changeAccountTest">Test: Update Account Info (no database updates)<br>
  <br><br>

  ITSSUPP ticket number:
  <input type="text" name="ticketnum", size="4">
  <br><br>

  What are the FDs (or SPs)? (separate by comma):
  <br>
  <input type="text" name="SpsOrFds" size="80">
  <br><br>
  If you know the new Account ID, enter it here:
  New Account ID:
  <input type="text" name="acctID" value="Not Known" size="10">
  <br><br>
  Otherwise, update the specific attributes that make up the Account:
  <br><br>
  Update Scientific Program to .:
  <select name="sciPrg">
   <option value ="NoChange">No Change</option>
   <option value ="Plant">Plant</option>
   <option value ="Fungal">Fungal</option>
   <option value ="Microbial"> Microbial</option>
   <option value ="Metagenome"> Metagenome</option>
   <option value ="Genomic Tech"> Genomic Tech</option>
   <option value ="JGI Science"> JGI Science</option>
   <option value ="Synthetic Biology"> Synthetic Biology</option>
   <option value ="Metabolomics"> Metabolomics</option>
  </select>

  <br>

  Update Purpose to ..................:
   <select name="purpose">
   <option value ="NoChange">No Change</option>
   <option value ="Programmatic">Programmatic</option>
   <option value ="R&D">R&D</option>
   <option value ="QC">QC</option>
   <option value ="Titration">Titration</option>
   </select>

   <br>

  Update User Program to .........:
  <select name="userPrg">
   <option value ="NoChange">No Change</option>
   <option value ="CSP">CSP</option>
   <option value ="Low Dose">Low Dose</option>
   <option value ="ICBG">ICBG</option>
   <option value ="BRC-Multi">BRC-Multi</option>
   <option value ="BRC-BESC">BRC-BESC</option>
   <option value ="BRC-GLBRC">BRC-GLBRC</option>
   <option value ="BRC-JBEI">BRC-JBEI</option>
   <option value ="WFO">WFO</option>
   <option value ="Director''s Science">Director's Science</option>
   <option value ="Legacy">Legacy</option>
   <option value ="Grand Challenge">Grand Challenge</option>
   <option value ="ARRA">ARRA</option>
   <option value ="Genomic Tech">Genomic Tech</option>
   <option value ="GEBA">GEBA</option>
   <option value ="LDRD">LDRD</option>
   <option value ="TDP">TDP</option>
   <option value ="ETOP">ETOP</option>
   <option value ="Synthetic Biology">Synthetic Biology</option>
   <option value ="CSP-EMSL">CSP-EMSL</option>
   <option value ="BERSS">BERSS</option>
   <option value ="JGI-NERSC">JGI-NERSC</option>
   <option value ="BRC-CBI">BRC-CBI</option>
   <option value ="BRC-CABBI">BRC-CABBI</option>
   <option value ="SPP">SPP</option>
  </select>

 <br>


  Update Year to ........................:
  <select name="year">
    <option value ="NoChange">No Change</option>
    <option value ="2001">2001</option>
    <option value ="2002">2002</option>
    <option value ="2003">2003</option>
    <option value ="2004">2004</option>
    <option value ="2005">2005</option>
    <option value ="2005">2005</option>
    <option value ="2006">2006</option>
    <option value ="2007">2007</option>
    <option value ="2008">2008</option>
    <option value ="2009">2009</option>
    <option value ="2011">2011</option>
    <option value ="2012">2012</option>
    <option value ="2013">2013</option>
    <option value ="2014">2014</option>
    <option value ="2015">2015</option>
    <option value ="2016">2016</option>
    <option value ="2017">2017</option>
    <option value ="2018">2018</option>
    <option value ="2019">2019</option>
  </select><br>
<br><br>

  <input type="submit" value="Submit">
  <input type="reset">
</form>




