<!––Abandoned FD/SP and Children GUI page ––>
<link rel="icon" href="data:;base64,="> <!––necessary to avoid warnings in log ––>

<style>
body {background-color: #EEA5F2;}  <!––color: PINKISH PURPLE ––>
</style>


<h1>DELETE FDs and Children (append '-Deleted' to names)</h1>

<cr></cr>
<form action="/itssupp/infoDeleteFD/" method ="get">
  Environment:<br>
  <input type="radio" name="server" value="Prod"> Production(jgi-prd)<br>
  <input type="radio" name="server" value="Int"> Integration (jgi-int)<br>
  <input type="radio" name="server" value="Dev"> Development (jgi-dev)<br>
  <br><br>

  ITSSUPP ticket number:
  <input type="text" name="ticketnum", size="4">
  <br><br>
  Choose Function:
  <br>
  <input type="radio" name="function" value="FDchildren"> 1. Delete FD  (FD,AP,AT,SP,Samples and SOWs)<br>

  <br><br>
  What are the FDs (or SPs)? (separate by comma):
  <br>
  <input type="text" name="SpsOrFds" size="80">
  <br><br>


  <input type="submit" value="Submit">
  <input type="reset">
</form>



