<!––Update PM GUI page ––>

<style>
 body {background-color: #D6EAF8;} <!––color = powderblue ––>
</style>
<link rel="icon" href="data:;base64,="> <!––necessary to avoid warnings in log ––>


<h1>Update Project Manager</h1>

<cr></cr>
<form action="/itssupp/infoUpdatePM/" method ="get">
  Environment:<br>
  <input type="radio" name="server" value="Prod"> Production(jgi-prd)<br>
  <input type="radio" name="server" value="Int"> Integration (jgi-int)<br>
  <input type="radio" name="server" value="Dev"> Development (jgi-dev)<br>
  <br><br>

  ITSSUPP ticket number:
  <input type="text" name="ticketnum", size="4">
  <br><br>
  Choose Function:
  <br>
  <input type="radio" name="function" value="UpdatePM"> 1. Update Project Manager<br>
  <input type="radio" name="function" value="UpdatePMtest"> 2. Test: Update Project Manager<br>
  <br><br>
  What are the FDs (or SPs)? (separate by comma):
  <br>
  <input type="text" name="SpsOrFds" size="80">
  <br><br>
  What is the (new) Project Manager ID?:
  <br>
  <input type="text" name="PMid" size="80">
  <br><br>
  <input type="submit" value="Submit">
  <input type="reset">
</form>




