<link rel="icon" href="data:;base64,=">
<style>
body {background-color: powderblue;}
li{color: green;  }
li a { color: red;  }
</style>

<h1>40% Project - ITS Support tools </h1>
<ul>
 <li><a href=gui_updatePMpage>Update PM</a></li>
 <li><a href=gui_abandonPage>Abandon FD/SP</a></li>
 <li><a href=gui_deleteFDPage>Delete FD</a></li>
 <li><a href=gui_deletePage>Delete SP</a></li>
 <li><a href=gui_changeAccountPage>Change Account Info</a></li>
 <li>FD, SP and Sample Data Creator</li>
 <li>Regression PPS Web Service Tests</li>
</ul>





