<!DOCTYPE html>
<html>

<!––Update PM Report ––>

<style>
 body {background-color: #D6EAF8;} <!––color = powderblue ––>
</style>
<link rel="icon" href="data:;base64,="> <!––necessary to avoid warnings in log ––>

<body>
function: {{function}}
<h1>Update Project Manager Report <br>On {{serverName}}, for ITSSUPP - {{jiraTicket}}</h1>
<h3>Errors: {{errors}} ( {{errormsg}} )</h3>


<h4>The Project Manager ID field was changed to  {{pmID}} in database tables:</h4>
SPs: <p id="sps">{{ sps }}</p>
Analysis Projects: <p id="aps">{{ aps }}</p>
FDs: <p id="fds">{{ fds }}</p>

<h2> Use this query to confirm the statuses: </h2>
{{ query }}


<h2 >The Clarity Project UDFs have been updated with: </h2>
        <p> Sequencing Project Manager = {{manager}}</p>
        <p>Sequencing Project Manager ID  = {{pmID}} </p>
<h2> Use this list of project URLs to confirm the update to UDFs:</h2>
     <p id="urls">{{ urls }}</p>
Clarity Project List:

<p id="demo"></p>
<script>
 {
    var s = document.getElementById("urls").innerHTML;
    var sliceStr = s.slice(2,s.length-2);
    const splitStr = sliceStr.split("', '")
    var text = ""

    for (i = 0; i < splitStr.length; i++) {
    text += splitStr[i] + "<br>";
        }
     document.getElementById("demo").innerHTML = text;
}
</script>



</body>
</html>
